/* styles.css */
#board {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
  gap: 2px;
  background: green;
  width: max-content;
  margin: 20px auto;
}

.cell {
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid #444;
}
